.category-main-container {
    width: 100vw;
}

.category-header-container {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: var(--color-post-types-template-top);
}

.category-header-sub-container {
    box-sizing: border-box;
    margin: 0 40px 0 40px;
    width: 100%;
    max-width: 1000px;
}


.category-top-container {
    height: 250px;
    width: 100%;
    background-color: var(--color-post-types-template-top);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 40px;
}

.category-top-flex {
    padding-top: 20px;
    margin: 0 40px 0 40px;
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.category-top-right-flex > span {
    font-family: "Wotfard-Regular";
    font-size: 20px;
    color: var(--color-path);
}

.category-top-left-flex > span {
    font-size: 50px;
    font-family: "Wotfard-Bold";
    color: var(--text);
}

.category-links {
    display: flex;
    margin-top: 10px;
    align-items: center;
}

.category-link {
    font-family: "Wotfard-Light";
    color: var(--color-path);
    font-size: 18px;
    margin-right: 8px;
}

.category-link-hoverable:hover {
    color: var(--text);
}

.category-links-arrow {
    margin-right: 8px;
}

.category-top-right-flex {
    display: flex;
    flex-direction: column;
}

.category-bottom-container {
    width: 100%;
    background-color: var(--color-post-types-template-bottom);
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 250px);
}

.category-bottom-sub-container {
    padding: 50px 0 100px 0;
    width: 100%;
    height: min-content;
    max-width: 1000px;
    margin: 0 40px 0 40px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 40px;
    row-gap: 40px;
}