.table-of-contents {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.table-of-contents-sub {
    display: flex;
    flex-direction: column;
}

.table-of-contents-targets {
    display: flex;
    flex-direction: column;
}

.table-of-contents-title {
    padding: 6px 6px 6px 12px;
    font-size: 17px;
}

.table-of-contents-target {
    padding: 6px 6px 6px 26px;
    font-size: 16px;
}

.table-of-contents-title, .table-of-contents-target {
    white-space:nowrap;
    border-left: 2px solid var(--toc-border);
    font-family: "Wotfard-Regular";
    transition: color 110ms;
    cursor: pointer;
    color: var(--color-path);
}

.table-of-contents-title:hover, .table-of-contents-target:hover {
    color: var(--text);
}

.table-of-contents > span {
    margin-bottom: 15px;
    color: rgb(243, 56, 112);
    letter-spacing: 2px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Wotfard-Medium";
}

.toc-active {
    border-left: 2px solid rgb(243, 56, 112);
}