.codepen {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

.codepen-title {
    text-transform: capitalize;
    font-family: "Wotfard-Medium";
    font-size: 15px;
    color: var(--color-gray-600);
}

.codepen-reset {
    cursor: pointer;
    transition: transform .1s;
    fill: var(--color-gray-600);
}

.codepen-reset-active {
    animation: animateReset .4s ease-in-out;
}

@keyframes animateReset {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

.codepen-reset:hover {
    transform: scale(1.1);
}

.codepen-title-flex {
    padding: 5px 10px;
    background-color: var(--playground-top);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.codepen-editors {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.codepen-editor-picker button {
    background: none;
    cursor: pointer;
    margin-right: 5px;
    padding: 10px 4px 10px 10px;
    font-weight: normal;
    font-family: "Wotfard-Regular";
    border: none;
    color: var(--color-gray-500);
    transition: color .1s;
    font-size: 17px;
}

.codepen-editor-picker .codepen-title-selected {
    font-family: "Wotfard-Medium";
    color: var(--text);
}

.codepen-editor {
    color: var(--text);
    letter-spacing: 1px;
    font-family: "Wotfard-Regular" !important;
    line-height: 22px;
    font-size: 16px;
}

.codepen-display {
    background-color: var(--prism-background);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.codepen-textareas {
    padding: 10px;
}

.codepen-results {
    width: 55%;
}

.codepen-results-title {
    text-transform: uppercase;
    width: 100%;
    font-weight: normal;
    font-family: "Wotfard-Medium";
    font-size: 17px;
    padding: 10px 10px 10px 0px;
    color: var(--text);
}

.codepen-iframe-container {
    padding: 0 10px 10px 0px;
}

.codepen-iframe-container iframe {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: white;
    border: 1px solid var(--color-gray-500);
}

.codepen-editor div textarea {
    outline:  none;
}