@media screen 
and (max-width: 1000px) {
    .avatar-container {display: none;}
}

@media screen
and (max-width: 800px) {
    .fof-avatar-container {display: none;}
    header {z-index: 100;}
    .header-links {display: none;}
    .header-right-flex {display: none;}
    .header-burger {display: flex;}
    .header-burger-menu {display: flex;}
    .category-header-sub-container {margin: 0 20px 0 20px; padding-top: 3px;}
    .goody-bottom-sub-container {padding: 70px 40px 100px 40px;}
    .category-bottom-sub-container {
        column-gap: 15px; 
        row-gap: 15px; grid-template-columns: repeat(1, minmax(0, 1fr));}
}

@media screen
and (max-width: 1010px) {
    .fof-message {font-size: 60px;}
    .blog-table-container {display: none;}
    .blog-actual-content {padding-right: 0;}
    .blog-content-sub {padding: 0 80px;}
}

@media screen 
and (max-width: 650px) {
    .goody-bottom-sub-container {padding: 70px 20px 100px 20px;}
    .blog-top-left-flex > span {font-size: 30px;}
    .blog-content-sub {padding: 0 30px;}
    .blog-grid {display: flex; flex-direction: column-reverse;}
    .blog-posts-categories > .blog-title {margin-bottom: 15px;}
    .blog-posts-categories {margin-bottom: 40px;}
    .postcard-description {text-align: justify;}
    .blog-posts-flex {padding-right: 0;}
    .fof-message {font-size: 40px;}
    .fof-left-flex button {font-size: 22px;}
}

@media screen 
and (max-width: 500px) {
    .solo-image {
        height: 270px !important;
    }
}