.blog-container {
    width: 100vw;
}

.blog-top-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--home-top) !important;
}

.blog-top-sub-container {
    position: relative;
    display: flex;
    box-sizing: border-box;
    margin: 0 40px 0 40px;
    height: 350px;
    width: 100%;
    max-width: 1000px;
}

.wave {
    z-index: 5;
    height: min-content;
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 150px;
    min-width: 1050px;
    transform: translateY(5px);
    pointer-events: none;
}

.wave-container {
    pointer-events: none;
    width: 100vw;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}

.wave-path {
    fill: var(--home-bottom);
}


/* container makes it possible to have the sticky header + overflow: hidden on avatar */
.avatar-container {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

.avatar {
    pointer-events: all;
    position: absolute;
    right: 25%;
    bottom: 10%;
    transform: translateY(300px);
}

.avatar-visible {
    animation-name: avatar-appear;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    /* animation-timing-function: cubic-bezier(.13,.73,.51,1.24); */
    animation-fill-mode: forwards;
}

@keyframes avatar-appear {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0);
    }
}

.blog-bottom-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--home-bottom);
    align-items: center;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.blog-bottom-sub-container {
    width: 100%;
    max-width: 1080px;
    display: flex;
    margin: 0 40px 0 40px;
    box-sizing: border-box;
    justify-content: center;
}

.blog-grid {
    padding: 0 40px 0 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
}

.blog-title {
    color: rgb(243, 56, 112);
    letter-spacing: 2px;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Wotfard-Medium";
    margin-bottom: 40px;
}

.blog-posts-flex {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
}

.blog-posts-categories {
    display: flex;
    flex-direction: column;
}

.blog-posts {
    display: flex;
    flex-direction: column;
}

.blog-categories {
    display: flex;
    flex-wrap: wrap;
}

.blog-category {
    cursor: pointer;
    font-size: 15px;
    padding: 10px 10px 8px 10px;
    background-color: var(--color-categories);
    border-radius: 4px;
    font-family: "Wotfard-Regular";
    color: black;
    font-size: 16px;
    transition: transform .1s;
    margin: 0 12px 12px 0;
    color: var(--text);
}

.blog-category:hover {
    transform: scale(1.02);
}