:root {
    --text-gray: rgb(100, 100, 87);
    --color-grey1: rgb(190,190,190);
    --color-grey2: rgb(169,169,169);
    --color-grey3: rgb(105,105,105);
    --color-grey4: rgb(128,128,128);
    --color-categories: rgb(199,227,244);
    --color-dark-blue: rgb(74,60,254);
    --color-burger-gradient: linear-gradient(61deg, rgba(255,255,255,1) 0%, rgba(238,231,231,0.56) 100%, rgba(220,225,230,0.227328431372549) 100%);
    --color-burger-background: rgb(255,255,255);
    --color-path: rgb(100,100,100);
    --color-post-types-template-bottom: rgb(239,241,245);
    --color-post-types-template-top: rgb(199,227,244);
    --color-card: rgb(255, 255, 255);
    --shadow1: rgba(0, 0, 0, 0.25) 0px 5px 15px;
    --text: rgb(14,20,27);
    --home-top: rgb(199,227,244);
    --home-bottom: #fff;
    --default: white;
    --home-seven: rgb(90,96,114);
    --color-gray-100: hsl(225deg, 25%, 95%);
    --color-gray-200: hsl(225deg, 16%, 90%);
    --color-gray-300: hsl(225deg, 8%, 80%);
    --color-gray-400: hsl(225deg, 8%, 70%);
    --color-gray-500: hsl(225deg, 7%, 60%);
    --color-gray-600: hsl(225deg, 15%, 50%);
    --color-gray-700: hsl(225deg, 12%, 40%);
    --color-gray-900: hsl(225deg, 25%, 20%);
    --color-gray-1000: hsl(225deg, 15%, 15%);
    --post-top: rgb(199,227,244);
    --post-bottom: #fff;
    --tip-green-background: rgba(191, 252, 191, 0.589);
    --tip-green-border: rgb(112, 228, 112);
    --tip-green-icon: rgb(55, 168, 55);
    --tip-blue-background: rgba(188, 224, 253, 0.541);
    --shadow-light-mode: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --toc-border: rgb(219, 219, 219);
    --color-folder-text: hsl(225deg, 16%, 90%);

    --prism-base: #25414e;
    --prism-background: #eeeff1;

    --prism-comment: #aabfc9;
    --prism-prolog: #aabfc9;
    --prism-doctype: #aabfc9;
    --prism-cdata: #39adb5;
    --prism-punctuation: #39adb5;
    --prism-namespace: #90a4ae;
    --prism-property:#0eb6c2;
    --prism-tag: #e53935;
    --prism-constant: #7c4dff;
    --prism-symbol: #7c4dff;
    --prism-deleted: #e53935;
    --prism-boolean: #7c4dff;
    --prism-number: #f76d47;
    --prism-selector: #17242c;
    --prism-attr-name:#1950c2;
    --prism-string: #474545;
    --prism-char: #39adb5;
    --prism-builtin: #39adb5;
    --prism-inserted: #39adb5;
    --prism-operator: #39adb5;
    --prism-entity: #393566;
    --prism-url: #e53935;
    --prism-string:#474545;
    --prism-variable: #e53935;
    --prism-atrule: #7c4dff;
    --prism-attr-value: #3c77b1;
    --prism-function: #ff7c4d;
    --prism-class-name: #ca3253;
    --prism-keyword:#0a14f5;
    --prism-regex: #6182b8;
    --prism-important:#7c4dff;
    
    --playground-top: rgb(223, 223, 223);
}